<h2>About</h2>

<h3>
1. 概要
</h3>
<p>
  デトックス料理のレシピを投稿、共有するCRUDアプリです。</p>
<p>
  主要機能
  <li>シェフ登録、編集、削除機能</li>
  <li>レシピ登録、編集、削除機能</li>
  <li>食材登録、編集、絞り込み機能</li>
  <li>コメント機能</li><br>

  サイトURL(PC,スマホ対応)：https://myrecipes-k8yk.onrender.com/<br>
  Github： https://github.com/yoda1202/myrecipes
</p>
<br>

<h3>
2. 開発背景
</h3>
<p>
  我が家では、半年程前から月1回の頻度で、1週間デトックス料理生活を行っています。<br>
  デトックス料理とは、①醤油や味噌などの塩分、②肉や魚、卵などの動物性食品、③発酵食品などの酸性度の高い食品<br>
  これらを含まない料理です。
  このデトックス料理を1週間継続して摂取することで、体内に溜まった老廃物を出します。<br>
  それによって疲労回復やむくみの改善、生活習慣病の予防などが期待できます。<br>
  <br>
  いつもこのデトックス料理を作ってくれている妻が、レシピを紙にまとめ、ファイルに綴じて使っていました。<br>
  今後レシピが増えていったとき、レシピをまとめたり、探したりするのが大変だと考え、今回この「Myrecipes」を制作しました。<br>
  <br>
  デトックス料理は、ニンジンやジャガイモなどの野菜、オートミールなど<br>
  ある程度用いる食材が限られてくることから、食材ごとに表示するレシピを絞り込める機能を実装しました。<br>
  また、他のシェフ(ユーザー)との意見交換の場を設けることで、レシピをブラッシュアップできるように<br>
  コメント機能を実装しました。
</p>
<br>

<h3>
3. 使用技術
</h3>
<p>
  <li>Ruby</li>
  <li>Ruby on rails</li>
  <li>JavaScript</li>
  <li>HTML</li>
  <li>CSS</li>
  <li>Bootstrap</li>
  <li>Git</li>
  <li>Github</li>
  <li>AWS</li>
</p>
<br>

<h3>
4. 機能一覧
</h3>
<p>
  <li>アカウント登録</li>
  <li>ログイン、ログアウト</li>
  <li>シェフリスト表示(CRUD)</li>
  <li>プロフィール編集(CRUD)</li>
  <li>シェフ削除(CRUD)</li>
  <li>レシピ投稿(CRUD)</li>
  <li>レシピ編集(CRUD)</li>
  <li>レシピ削除(CRUD)</li>
  <li>食材リスト表示(CRUD)</li>
  <li>食材編集(CRUD)</li>
  <li>食材絞り込み</li>
  <li>コメント機能</li>
</p>
<br>

<h3>
5. 主要機能
</h3>
<h4>
  5.1. シェフ登録
</h4>
<p>
  ・ホーム画面に登録ボタンを設定<br>
  ・名前、メールアドレス、パスワードを入力して登録
</p>
<%= image_tag "myrecipes1_home.jpg", class: "capture", size: "550x200", alt: "スクリーンショット" %>
<%= image_tag "myrecipes2_アカウント作成.jpg", class: "capture", size: "580x220", alt: "スクリーンショット" %>

<h4>
  5.2. シェフ編集
</h4>
<p>
  ・画面右上のドロップダウンメニューから「プロフィールを編集する」を選択<br>
  ・名前、メールアドレス、パスワードを入力してプロフィールを更新
</p>
<%= image_tag "myrecipes3_プロフィール編集.jpg", class: "capture", size: "550x250", alt: "スクリーンショット" %>

<h4>
  5.3. シェフ削除
</h4>
<p>
  ・シェフリストから、シェフを削除<br>
  ・管理ユーザーのみ実行可能
</p>
<%= image_tag "myrecipes4_シェフ削除.jpg", class: "capture", size: "400x400", alt: "スクリーンショット" %>

<h4>
  5.4. レシピ作成
</h4>
<p>
  ・料理名、材料や作り方などを入力。使用する食材にチェック<br>
  ・ログインユーザーのみ実行可能
</p>
<%= image_tag "myrecipes5_レシピ作成.jpg", class: "capture", size: "550x300", alt: "スクリーンショット" %>

<h4>
  5.5. レシピ編集、削除
</h4>
<p>
  ・レシピ詳細画面からレシピを編集、削除<br>
  ・管理ユーザー、レシピを投稿したユーザーのみ実行可能
</p>
<%= image_tag "myrecipes6_レシピ編集.削除.jpg", class: "capture", size: "550x380", alt: "スクリーンショット" %>

<h4>
  5.6. 食材追加
</h4>
<p>
  ・ドロップダウンメニューから食材を追加<br>
  ・管理ユーザーのみ実行可能
</p>
<%= image_tag "myrecipes7_食材追加.jpg", class: "capture", size: "550x270", alt: "スクリーンショット" %>

<h4>
  5.7. 食材絞り込み
</h4>
<p>
  ・ドロップダウンメニューから食材を指定して、その食材を使用するレシピのみ表示<br>
</p>
<%= image_tag "myrecipes8_食材絞り込み.jpg", class: "capture", size: "550x240", alt: "スクリーンショット" %>

<h4>
  5.8. コメント
</h4>
<p>
  ・レシピ詳細画面からコメントを投稿可能<br>
  ・ログインユーザーのみ実行可能
</p>
<%= image_tag "myrecipes9_コメント.jpg", class: "capture", size: "550x400", alt: "スクリーンショット" %>

<h3>
6. 今後の展望
</h3>
<p>
  画像投稿機能を実装して、投稿したレシピの完成写真を投稿できるようにすることで、<br>
  レシピを見た人によりイメージが伝わるようにしたいと考えています。<br>
  また、いいねボタンをつけて人気順に並び替えたり、<br>
  主食やデザートなどのジャンルで絞り込むことができれば、<br>
  より使いやすくなるのではないかと考えています。
</p>